<div class="container-fluid">
    <div class="jumbotron pagination-centered" style="margin-bottom: 20px; background-color: rgb(176, 184, 211); height: calc(95vh); width: 100%; padding-left: 20%; padding-right: 20%">
        <h1>Useful Links</h1>
        <ul>
            <li><a href="url">Lorem</a></li>
            <li><a href="url">ipsum </a></li>
            <li><a href="url">dolor</a></li>
            <li><a href="url">asfrd</a></li>
            <li><a href="url">link text</a></li>
          </ul>
      </div>
  
</div>
