<div class="container-fluid">
  
  <div class="row">
      <div class="col-lg-12">
          <div class="jumbotron" style="background-color: rgb(214, 217, 226); height: calc(100vh - 50px); width: 100%; ">
              <h1>About</h1>
              <p class="lead">
                Lorem ipsum dolor asfrdgwekjsdfhklsadhflksadjhglsdjglkzsdjglksdzjglasfrdgwekjsdfhklsadhflksadjhglsdjglkzsdjglksdzjglasfrdgwekjsdfhklsadhflksadjhglsdjglkzsdjglksdzjglasfrdgwekjsdfhklsadhflksadjhglsdjglkzsdjglksdzjglasfrdgwekjsdfhklsadhflksadjhglsdjglkzsdjglksdzjglasfrdgwekjsdfhklsadhflksadjhglsdjglkzsdjglksdzjglasfrdgwekjsdfhklsadhflksadjhglsdjglkzsdjglksdzjgl
              </p>
              <a class="btn btn-lg btn-primary" href="../eco-features" role="button">Explore Features</a>
            </div>
        </div>
  </div>
</div>