<div class="container-fluid">
  
    <div class="col-lg-12">
        <div class="jumbotron" style="background-color: rgb(214, 217, 226); height: calc(100vh - 50px); width: 100%; ">
            <h1 style="height: 50px">Eco Features</h1>
            
            <label class="container">Lorem
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
              </label>
              <label class="container">Ipsum
                  <input type="checkbox" checked="checked">
                  <span class="checkmark"></span>
                </label>
                <label class="container">Sum
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                  </label>
                  <label class="container">Dolor
                      <input type="checkbox" checked="checked">
                      <span class="checkmark"></span>
                    </label>
          </div>
      </div>
      
  
</div>