
<div class="container-fluid">
    <div class="row">
        
        <div class="col-md-12">
                <div class="jumbotron" style="background-color: rgb(176, 184, 211); height: calc(95vh); width: 100%; padding-left: 20%; padding-right: 20%">
                        <h1>Welcome to Green Realtor</h1>
                        <p class="lead">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus efficitur libero aliquam, imperdiet dui non, cursus ligula. Aliquam erat volutpat. Donec pretium tortor dolor, at egestas nisl malesuada commodo. Etiam blandit imperdiet finibus. Aliquam tincidunt dolor non augue condimentum sollicitudin. Mauris mattis sapien nec sem varius euismod. Aliquam lobortis pulvinar nisl, et faucibus turpis sagittis iaculis. Aliquam vehicula consequat velit a sodales. Duis finibus bibendum sapien vel venenatis. Ut bibendum diam eu interdum pretium. Aenean condimentum vulputate felis sed cursus. Morbi tempor neque vel consequat iaculis. In at metus in felis pulvinar vestibulum. Integer sapien dolor, accumsan in tortor euismod, sodales interdum lectus. Praesent mauris nisi, viverra ut fermentum sed, dictum in urna. Curabitur mattis eros sit amet urna porta rutrum.
                        </p>
                        <a class="btn btn-lg btn-primary" href="eco-features" role="button">Explore</a>
                    </div>
        </div>
        <div class="col-md-12">
                <div class="jumbotron" style="background-color: rgb(29, 82, 33); height: calc(95vh); width: 100%; padding-left: 20%; padding-right: 20%">
                        <h1>Welcome to Green Realtor</h1>
                        <p class="lead">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus efficitur libero aliquam, imperdiet dui non, cursus ligula. Aliquam erat volutpat. Donec pretium tortor dolor, at egestas nisl malesuada commodo. Etiam blandit imperdiet finibus. Aliquam tincidunt dolor non augue condimentum sollicitudin. Mauris mattis sapien nec sem varius euismod. Aliquam lobortis pulvinar nisl, et faucibus turpis sagittis iaculis. Aliquam vehicula consequat velit a sodales. Duis finibus bibendum sapien vel venenatis. Ut bibendum diam eu interdum pretium. Aenean condimentum vulputate felis sed cursus. Morbi tempor neque vel consequat iaculis. In at metus in felis pulvinar vestibulum. Integer sapien dolor, accumsan in tortor euismod, sodales interdum lectus. Praesent mauris nisi, viverra ut fermentum sed, dictum in urna. Curabitur mattis eros sit amet urna porta rutrum.
                        </p>
                        <a class="btn btn-lg btn-primary" href="eco-features" role="button">Explore</a>
                    </div>
        </div>
        
    </div>
</div>
