.container-fluid
{
	width: 100%;
	background: white;
	padding-top: 30%;
    padding-bottom: 10px;
    
    background-repeat: no-repeat;
  background-size: cover;
	background-image: url('../../assets/green_home_construction.jpg');
}
.lead
{ word-wrap: break-word; }

.jumbotron{
    display: flex;
  flex-direction: column;
  align-items: center;
  
}